In [ ]:
#Eman Ibrahim Elbedwihy 9210265
#Sara Gamal Gerges 9210455

In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

In [4]:
spark=SparkSession.builder\
    .master("local[*]")\
    .appName("SQL")\
    .getOrCreate()
df = spark.read.csv("/persons.csv", header=True, inferSchema=True)

In [5]:
#Display schema of DataFrame.
print("Schema of DataFrame")
df.printSchema()

Schema of DataFrame
root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [6]:
#Register the DataFrame as a Temporary Table and name it “persons”.
df.createOrReplaceTempView("persons")

In [7]:
#Select the names column where their age is higher than 25
result1 = spark.sql("SELECT name FROM persons WHERE age > 25")
print("Names of age>25")
result1.show()

Names of age>25
+------------------+
|              name|
+------------------+
|          John Doe|
|     David Johnson|
|       Emily Davis|
|    Michael Wilson|
|       Sarah Brown|
|        Robert Lee|
|       Lisa Garcia|
|    James Martinez|
|Jennifer Rodriguez|
|  William Anderson|
|   Karen Hernandez|
|Christopher Taylor|
|     Matthew Davis|
|    Patricia White|
|     Daniel Miller|
| Elizabeth Jackson|
|     Joseph Harris|
|      Linda Martin|
+------------------+

In [8]:
#Calculate the average salary per gender
result2 = spark.sql("SELECT gender, AVG(salary) FROM persons GROUP BY gender")
print("Avg salary per gender")
result2.show()

Avg salary per gender
+------+-----------+
|gender|avg(salary)|
+------+-----------+
|Female|    52300.0|
|  Male|    62100.0|
+------+-----------+

In [9]:
#Get the second highest salary
result3 = spark.sql("SELECT name, salary FROM( SELECT DISTINCT salary , name FROM persons ORDER BY salary DESC) LIMIT 1 OFFSET 1")
print("The second highest salary")
result3.show()

The second highest salary
+------------+------+
|        name|salary|
+------------+------+
|Linda Martin| 71000|
+------------+------+