In [ ]:
#Eman Ibrahim Elbedwihy 9210265
#Sara Gamal Gerges 9210455

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

In [ ]:
spark=SparkSession.builder\
    .master("local[*]")\
    .appName("RDD")\
    .getOrCreate()
sc=spark.sparkContext
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35), ("Alice", 40)]
rdd=sc.parallelize(data)

In [ ]:
#Get the total number of elements in the RDD you have created.
count=rdd.count()
print(f"Total number of elements: {count}")

Total number of elements: 4

In [ ]:
#Retrieve the first element of the RDD.
first=rdd.first()
print(f"The first element of the RDD: {first}")

The first element of the RDD: ('Alice', 25)

In [ ]:
#Create a function that retrieves the first K elements of the RDD.
first_2=rdd.take(2)
print(f"The first 2 elements of the RDD: {first_2}")

The first 2 elements of the RDD: [('Alice', 25), ('Bob', 30)]

In [ ]:
#Print all elements of the RDD
elements=rdd.collect()
print(f"All elements of the RDD: {elements}")

All elements of the RDD: [('Alice', 25), ('Bob', 30), ('Charlie', 35), ('Alice', 40)]

In [ ]:
#Convert all names of the RDD to uppercase.
uppercase_rdd = rdd.map(lambda x: (x[0].upper(), x[1]))
uppercase_rdd=uppercase_rdd.collect()
print(f"All names converted to uppercase: {uppercase_rdd}")

All names converted to uppercase: [('ALICE', 25), ('BOB', 30), ('CHARLIE', 35), ('ALICE', 40)]

In [ ]:
#Filter records where age is greater than 30.
filtered_rdd = rdd.filter(lambda x: (x[1]>30))
filtered_rdd=filtered_rdd.collect()
print(f"Filterd records(age>30): {filtered_rdd}")

Filterd records(age>30): [('Charlie', 35), ('Alice', 40)]

In [ ]:
#Calculate the total age for each name.
reduced_rdd = rdd.reduceByKey(lambda x, y: x + y)
reduced_rdd=reduced_rdd.collect()
print(f"The total age for each name: {reduced_rdd}")

The total age for each name: [('Alice', 65), ('Bob', 30), ('Charlie', 35)]

In [ ]:
#Sort the RDD by age in descending order
sorted_rdd=rdd.sortBy(lambda x: x[1], ascending=False)
sorted_rdd=sorted_rdd.collect()
print(f"Sorted RDD by age in descending order: {sorted_rdd}")

Sorted RDD by age in descending order: [('Alice', 40), ('Charlie', 35), ('Bob', 30), ('Alice', 25)]