In [ ]:
#Eman Ibrahim Elbedwihy 9210265
#Sara Gamal Gerges 9210455

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.sql.functions import *

In [ ]:
spark=SparkSession.builder\
    .master("local[*]")\
    .appName("DF")\
    .getOrCreate()
df = spark.read.csv("/products.csv", header=True, inferSchema=True)

In [ ]:
#Display schema of DataFrame.
print("Schema of DataFrame")
df.printSchema()

Schema of DataFrame
root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: double (nullable = true)

In [ ]:
#Select specific columns [“id”, ”name”, ”price”].
selected_df=df.select("id","name","price")
print("Selected columns id, name, price")
selected_df.show()

Selected columns id, name, price
+---+--------------------+------+
| id|                name| price|
+---+--------------------+------+
|  1|           iPhone 12|899.99|
|  2|     Nike Air Max 90|119.99|
|  3|KitchenAid Stand ...|299.99|
|  4|    The Great Gatsby| 12.99|
|  5|L'Oreal Paris Mas...|  9.99|
|  6|            Yoga Mat| 29.99|
|  7| Samsung 4K Smart TV|799.99|
|  8|        Levi's Jeans| 49.99|
|  9|Dyson Vacuum Cleaner|399.99|
| 10| Harry Potter Series| 15.99|
| 11|        MAC Lipstick| 16.99|
| 12|Adidas Running Shoes| 59.99|
| 13|       PlayStation 5|499.99|
| 14|   Hooded Sweatshirt| 34.99|
| 15|        Coffee Maker| 89.99|
| 16|To Kill a Mocking...|  9.99|
| 17|        Skincare Set| 49.99|
| 18|           Yoga Ball| 19.99|
| 19|Sony Noise-Cancel...|299.99|
| 20|        Puma T-shirt| 19.99|
+---+--------------------+------+

In [ ]:
#Filter rows based on a condition of quantity > 20.
filtered_df=df.filter(df["quantity"] > 20)
print("Filtered rows where quantity>20")
filtered_df.show()

Filtered rows where quantity>20
+---+--------------------+--------+--------+------+
| id|                name|category|quantity| price|
+---+--------------------+--------+--------+------+
|  2|     Nike Air Max 90|Clothing|      25|119.99|
|  4|    The Great Gatsby|   Books|      50| 12.99|
|  5|L'Oreal Paris Mas...|  Beauty|     100|  9.99|
|  6|            Yoga Mat|  Sports|      30| 29.99|
| 11|        MAC Lipstick|  Beauty|      75| 16.99|
| 12|Adidas Running Shoes|  Sports|      22| 59.99|
| 17|        Skincare Set|  Beauty|      50| 49.99|
| 20|        Puma T-shirt|Clothing|      40| 19.99|
+---+--------------------+--------+--------+------+

In [ ]:
#Apply sum and average aggregations on “price”, grouped on “category” column.
sum_df=df.groupBy("category").agg(sum("price"))
print("Sum of price")
sum_df.show()
avg_df=df.groupBy("category").agg(avg("price"))
print("Avg of price")
avg_df.show()

Sum of price
+---------------+----------+
|       category|sum(price)|
+---------------+----------+
|         Sports|    109.97|
|    Electronics|   2499.96|
|       Clothing|    224.96|
|          Books|     38.97|
|Home Appliances|    789.97|
|         Beauty|     76.97|
+---------------+----------+

Avg of price
+---------------+------------------+
|       category|        avg(price)|
+---------------+------------------+
|         Sports|36.656666666666666|
|    Electronics|            624.99|
|       Clothing|             56.24|
|          Books|             12.99|
|Home Appliances| 263.3233333333333|
|         Beauty|25.656666666666666|
+---------------+------------------+

In [ ]:
#Make a new DataFrame with “id” and “category” columns only for the top 10 elements of products DataFrame and then merge the two DataFrames on “id”.
new_df = df.select("id", "category").limit(10)
merged_df = df.join(new_df, on='id', how='inner')
print("The merged Data Frame")
merged_df.show()

The merged Data Frame
+---+--------------------+---------------+--------+------+---------------+
| id|                name|       category|quantity| price|       category|
+---+--------------------+---------------+--------+------+---------------+
|  1|           iPhone 12|    Electronics|      10|899.99|    Electronics|
|  2|     Nike Air Max 90|       Clothing|      25|119.99|       Clothing|
|  3|KitchenAid Stand ...|Home Appliances|       5|299.99|Home Appliances|
|  4|    The Great Gatsby|          Books|      50| 12.99|          Books|
|  5|L'Oreal Paris Mas...|         Beauty|     100|  9.99|         Beauty|
|  6|            Yoga Mat|         Sports|      30| 29.99|         Sports|
|  7| Samsung 4K Smart TV|    Electronics|       8|799.99|    Electronics|
|  8|        Levi's Jeans|       Clothing|      15| 49.99|       Clothing|
|  9|Dyson Vacuum Cleaner|Home Appliances|       3|399.99|Home Appliances|
| 10| Harry Potter Series|          Books|      20| 15.99|          Books|
+---+--------------------+---------------+--------+------+---------------+

In [ ]:
#Sort rows by “price” column.
sorted_df = df.orderBy("price")
print("Sorted rows by price")
sorted_df.show()

Sorted rows by price
+---+--------------------+---------------+--------+------+
| id|                name|       category|quantity| price|
+---+--------------------+---------------+--------+------+
|  5|L'Oreal Paris Mas...|         Beauty|     100|  9.99|
| 16|To Kill a Mocking...|          Books|      15|  9.99|
|  4|    The Great Gatsby|          Books|      50| 12.99|
| 10| Harry Potter Series|          Books|      20| 15.99|
| 11|        MAC Lipstick|         Beauty|      75| 16.99|
| 18|           Yoga Ball|         Sports|      18| 19.99|
| 20|        Puma T-shirt|       Clothing|      40| 19.99|
|  6|            Yoga Mat|         Sports|      30| 29.99|
| 14|   Hooded Sweatshirt|       Clothing|      10| 34.99|
|  8|        Levi's Jeans|       Clothing|      15| 49.99|
| 17|        Skincare Set|         Beauty|      50| 49.99|
| 12|Adidas Running Shoes|         Sports|      22| 59.99|
| 15|        Coffee Maker|Home Appliances|       7| 89.99|
|  2|     Nike Air Max 90|       Clothing|      25|119.99|
|  3|KitchenAid Stand ...|Home Appliances|       5|299.99|
| 19|Sony Noise-Cancel...|    Electronics|       6|299.99|
|  9|Dyson Vacuum Cleaner|Home Appliances|       3|399.99|
| 13|       PlayStation 5|    Electronics|      12|499.99|
|  7| Samsung 4K Smart TV|    Electronics|       8|799.99|
|  1|           iPhone 12|    Electronics|      10|899.99|
+---+--------------------+---------------+--------+------+

In [ ]:
#Get all unique values of the “category” column.
unique_categories = df.select("category").distinct()
print("All unique values of the category")
unique_categories.show()

All unique values of the category
+---------------+
|       category|
+---------------+
|         Sports|
|    Electronics|
|       Clothing|
|          Books|
|Home Appliances|
|         Beauty|
+---------------+

In [ ]:
#Drop “quantity” and “category” columns.
dropped_df = df.drop("quantity", "category")
print("Data Frame after dropping quantity and category columns")
dropped_df.show()

Data Frame after dropping quantity and category columns
+---+--------------------+------+
| id|                name| price|
+---+--------------------+------+
|  1|           iPhone 12|899.99|
|  2|     Nike Air Max 90|119.99|
|  3|KitchenAid Stand ...|299.99|
|  4|    The Great Gatsby| 12.99|
|  5|L'Oreal Paris Mas...|  9.99|
|  6|            Yoga Mat| 29.99|
|  7| Samsung 4K Smart TV|799.99|
|  8|        Levi's Jeans| 49.99|
|  9|Dyson Vacuum Cleaner|399.99|
| 10| Harry Potter Series| 15.99|
| 11|        MAC Lipstick| 16.99|
| 12|Adidas Running Shoes| 59.99|
| 13|       PlayStation 5|499.99|
| 14|   Hooded Sweatshirt| 34.99|
| 15|        Coffee Maker| 89.99|
| 16|To Kill a Mocking...|  9.99|
| 17|        Skincare Set| 49.99|
| 18|           Yoga Ball| 19.99|
| 19|Sony Noise-Cancel...|299.99|
| 20|        Puma T-shirt| 19.99|
+---+--------------------+------+

In [ ]:
#Derive “revenue” columns to be price*quantity
added_df=df.withColumn("revenue",df["price"]*df["quantity"])
print("Data Frame with added column revenue")
added_df.show()

Data Frame with added column revenue
+---+--------------------+---------------+--------+------+------------------+
| id|                name|       category|quantity| price|           revenue|
+---+--------------------+---------------+--------+------+------------------+
|  1|           iPhone 12|    Electronics|      10|899.99|            8999.9|
|  2|     Nike Air Max 90|       Clothing|      25|119.99|           2999.75|
|  3|KitchenAid Stand ...|Home Appliances|       5|299.99|           1499.95|
|  4|    The Great Gatsby|          Books|      50| 12.99|             649.5|
|  5|L'Oreal Paris Mas...|         Beauty|     100|  9.99|             999.0|
|  6|            Yoga Mat|         Sports|      30| 29.99| 899.6999999999999|
|  7| Samsung 4K Smart TV|    Electronics|       8|799.99|           6399.92|
|  8|        Levi's Jeans|       Clothing|      15| 49.99|            749.85|
|  9|Dyson Vacuum Cleaner|Home Appliances|       3|399.99|           1199.97|
| 10| Harry Potter Series|          Books|      20| 15.99|             319.8|
| 11|        MAC Lipstick|         Beauty|      75| 16.99|1274.2499999999998|
| 12|Adidas Running Shoes|         Sports|      22| 59.99|           1319.78|
| 13|       PlayStation 5|    Electronics|      12|499.99|           5999.88|
| 14|   Hooded Sweatshirt|       Clothing|      10| 34.99|349.90000000000003|
| 15|        Coffee Maker|Home Appliances|       7| 89.99|            629.93|
| 16|To Kill a Mocking...|          Books|      15|  9.99|            149.85|
| 17|        Skincare Set|         Beauty|      50| 49.99|            2499.5|
| 18|           Yoga Ball|         Sports|      18| 19.99|            359.82|
| 19|Sony Noise-Cancel...|    Electronics|       6|299.99|           1799.94|
| 20|        Puma T-shirt|       Clothing|      40| 19.99| 799.5999999999999|
+---+--------------------+---------------+--------+------+------------------+

In [ ]:
#Rename “price” to be “unit_price”
renamed_df=df.withColumnRenamed("price","unit_price")
print("Data Frame with renamed column price to unit_price")
renamed_df.show()

Data Frame with renamed column price to unit_price
+---+--------------------+---------------+--------+----------+
| id|                name|       category|quantity|unit_price|
+---+--------------------+---------------+--------+----------+
|  1|           iPhone 12|    Electronics|      10|    899.99|
|  2|     Nike Air Max 90|       Clothing|      25|    119.99|
|  3|KitchenAid Stand ...|Home Appliances|       5|    299.99|
|  4|    The Great Gatsby|          Books|      50|     12.99|
|  5|L'Oreal Paris Mas...|         Beauty|     100|      9.99|
|  6|            Yoga Mat|         Sports|      30|     29.99|
|  7| Samsung 4K Smart TV|    Electronics|       8|    799.99|
|  8|        Levi's Jeans|       Clothing|      15|     49.99|
|  9|Dyson Vacuum Cleaner|Home Appliances|       3|    399.99|
| 10| Harry Potter Series|          Books|      20|     15.99|
| 11|        MAC Lipstick|         Beauty|      75|     16.99|
| 12|Adidas Running Shoes|         Sports|      22|     59.99|
| 13|       PlayStation 5|    Electronics|      12|    499.99|
| 14|   Hooded Sweatshirt|       Clothing|      10|     34.99|
| 15|        Coffee Maker|Home Appliances|       7|     89.99|
| 16|To Kill a Mocking...|          Books|      15|      9.99|
| 17|        Skincare Set|         Beauty|      50|     49.99|
| 18|           Yoga Ball|         Sports|      18|     19.99|
| 19|Sony Noise-Cancel...|    Electronics|       6|    299.99|
| 20|        Puma T-shirt|       Clothing|      40|     19.99|
+---+--------------------+---------------+--------+----------+